body {
    background: wheat;
}

h1 {
    color: blue;

}

th {
    color: black;
}
footer {
    background: darkred;
    bottom: auto;
}
.container {
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px ;

}
.head {
    background: darkred;
    height: 110px;
    text-align: right;
    padding-top: 10px;
}
.div_top_hypers {
    float: top;
    display: inline-block;
    width: 100px;
    height: 20px;
    text-align: right;
    background: darkred;
}

.logo {
    float: right;
    width: 80px;
    display: inline-block;
    margin: 10px;
}
.information {
    width: 1000px;
    display: inline-block;
}
.loiich {
    padding-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    ;
}
li a {
    float: left;
    margin: 10px

}
.thongtinfooter {
    margin: 5px;

}

a {
    margin: 5px;
    color: white;
}
.head1 {
    background: darkred;
    text-align: center;
}
.logoagibank {
    padding-top: 20px;
}
.dangnhap {
    padding-left: 1200px;
    padding-top: 20px;
    background: antiquewhite;


}
#danhMuc {
    background: antiquewhite;
    height: 30px;
    width: 185px;
}
.guithontin {
    text-align: center;
    height: 200px;
    padding-top: 30px;
}
